APP_HOST_PORT={{APP_HOST_PORT}}
POSTGRES_HOST_PORT={{POSTGRES_HOST_PORT}}
REDIS_HOST_PORT={{REDIS_HOST_PORT}}
EMBEDDING_HOST_PORT={{EMBEDDING_HOST_PORT}}
BACKEND_WORKSPACE_PATH=C:/ProgramData/XDisplayAI/workspace/backend
