/inputs/client/xdisplay-win64/**
!/inputs/client/xdisplay-win64/.gitkeep
/inputs/backend/images/**
!/inputs/backend/images/.gitkeep
/inputs/backend/source/**
!/inputs/backend/source/.gitkeep
/inputs/backend/compose/upstream/**
!/inputs/backend/compose/upstream/.gitkeep
/inputs/backend/migrations/**
!/inputs/backend/migrations/.gitkeep
/inputs/prerequisites/docker-desktop/**
!/inputs/prerequisites/docker-desktop/.gitkeep
/inputs/prerequisites/vcredist/**
!/inputs/prerequisites/vcredist/.gitkeep
/inputs/prerequisites/wsl/**
!/inputs/prerequisites/wsl/.gitkeep
/staging/**
!/staging/.gitkeep
/dist/**
!/dist/.gitkeep
/cache/**
!/cache/.gitkeep
/logs/**
!/logs/.gitkeep
*.wixpdb
*.msi
*.exe
